h1 {
  color: pink;
  font-size: 2rem;
  padding-left: 50px;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 50px;

  .inputField {
    width: 250px;
    height: 25px;
    margin-bottom: 15px;
  }
  .sendButton {
    width: 100px;
    height: 30px;
    background: pink;
    border: none;
    cursor: pointer;
  }
}
