<nav>
  <div class="nav-wrapper black">
    <a class="brand-logo">Social Banners</a>
    <a href="#" class="brand-logo center" (click)="saveImage(banner)">
      Save
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a (click)="setLayout('horizontal')">Horizontal</a></li>
      <li><a (click)="setLayout('horizontalRev')">Horizontal Reverse</a></li>
      <li><a (click)="setLayout('vertical')">Vertical</a></li>
      <li><a (click)="setLayout('verticalRev')">Vertical Reverse</a></li>
    </ul>
  </div>
</nav>

<div [ngClass]="layout">
  <div class="banner">
    <div #banner class="banner-text" [ngStyle]="getBannerStyles()">
      <span contenteditable="true" [style.fontSize.px]="fontSize">
        Create you own banner
      </span>
    </div>
  </div>

  <div class="settings">
    <label>First Color</label>
    <div class="colors">
      <span class="badge" *ngFor=" let color of colors" [ngClass]="color" (click)="color1 = color"></span>
    </div>
    <input type="range" min="0" max="100" [(ngModel)]="percentColor1" />

    <label>Second Color</label>
    <div class="colors">
      <span class="badge" *ngFor="let color of colors.reverse()" [ngClass]="color" (click)="color2 = color"></span>
    </div>
    <input type="range" min="0" max="100" [(ngModel)]="percentColor2" />

    <label>Width</label>
    <input type="range" min="0" max="1000" step="50" [(ngModel)]="width" />

    <label>Height</label>
    <input type="range" min="0" max="1000" step="50" [(ngModel)]="height" />

    <label>Font size</label>
    <input type="range" min="12" max="72" [(ngModel)]="fontSize" />
  </div>
</div>
