.banner {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.badge {
  cursor: pointer;
  display: inline-block;
  float: none;
}

.banner-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}

.settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin: auto;
  padding: 30px 0 20px 0;
}

.colors {
  display: flex;
  justify-content: center;
}

.horizontal {
  display: flex;
}

.horizontalRev {
  display: flex;
  flex-direction: row-reverse;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.verticalRev {
  display: flex;
  flex-direction: column-reverse;
}
