<p> liczba: {{numbers[6]}}</p>

<ul>
  <li *ngFor="let num of numbers">
    <div [ngClass]="getClass(num)"> {{num}} </div>
  </li>
</ul>

<ul>
  <li *ngFor="let num of numbers, odd as isOdd">
    <a class="redText" *ngIf="changeOdd()" ngClass="{{isOdd ? 'greenText' : 'redText'}}"> {{num}}</a>
  </li>
</ul>

<button (click)="flag = !flag"> Change </button>
<p class="redText" [ngClass]="flag ? 'blueText' : 'redText'"> Some text to change</p>

<p [ngClass]="'pink-color'"> ngClass="'red-color'"</p>
<p [ngClass]="['pink-color', 'font-bold']"> ngClass="classesList" </p>

<p> ngClass]="[color,font]" </p>

<hr>


<p [ngClass]="zmiana()"> Text for change </p>
<input type="checkbox" name="" id="checkButton" (change)="zmiana()"> Toggle change button

<hr>


<button [ngClass]="{'isPrimary': isPrimary}">
  A Simple Button
</button>
<div>
  <input type="checkbox" (click)="toggleButton()" /> Toggle Button Class
</div>

<hr>


<button (click)="klik()">
  Display Details
</button>

<hr>


<p> Index tablicy to: {{zmienna1}} </p>

<hr>

<button (click)="test('czy działa test')"> test </button>

<hr>

<button (click)="viewList()"> Display list </button>

<div *ngFor="let num of tablica1">
  <p [ngClass]="bgcolor(num)">
    {{num}}
  </p>
</div>

<hr>

<ul>
  <li (click)="call1()" [ngClass]="flagx ? backcol : 'green'"> call 1</li>
  <li (click)="call2()"> call 2</li>
  <li (click)="call3()"> call 3</li>
  <li (click)="call4()"> call 4</li>
  <li (click)="call5()"> call 5</li>
</ul>

<p> selected_value: {{selected_value}} </p>

<hr>

<ul>
  <li (click)="getLI_Id(1)" [ngClass]="{active:li_id == 1}"> <a href="#"> call 1 </a></li>
  <li (click)="getLI_Id(2)"><a href="#"> call 2 </a></li>
  <li (click)="getLI_Id(3)"><a href="#">call 3 </a></li>
  <li (click)="getLI_Id(4)"><a href="#">call 4 </a></li>
  <li (click)="getLI_Id(5)"><a href="#">call 5 </a></li>
</ul>

selected_value : {{selected_value}}

<hr>

<button (click)="viewMode = 'map'"> Map View</button> &nbsp; <button (click)="viewMode = 'list'"> List View</button>
<div [ngSwitch]="viewMode">
  <div *ngSwitchCase="'map'"> Map View</div>
  <div *ngSwitchCase="'list'"> List View</div>
  <div *ngSwitchDefault> Other View</div>
</div>

<hr>

<label for="cars">Choose a car:</label>

<select (change)="changeCar($event)">
  <option value="volvo">Volvo</option>
  <option value="saab">Saab</option>
  <option value="mercedes">Mercedes</option>
  <option value="audi">Audi</option>
</select>
<p>

<div [ngSwitch]="zmienna">
  <p *ngSwitchCase="'volvo'">1</p>
  <p *ngSwitchCase="'saab'">2</p>
  <p *ngSwitchCase="'mercedes'">3</p>
  <p *ngSwitchCase="'audi'">4</p>
  <h3 *ngSwitchDefault>Default</h3>
</div>

<!-- <p> wybrane {{zmienna}}</p> -->
